.fourth {
 
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15rem;
  height: 1030px;
}
.fourthtop {
  height: 509px;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
  background: linear-gradient(
    180deg,
    rgba(236, 240, 253, 0) 0%,
    rgba(236, 240, 253, 0.53) 14.32%,
    #ecf0fd 45.83%,
    rgba(236, 240, 253, 0.43) 84.33%,
    rgba(236, 240, 253, 0) 100%
  );
}
.testim {
  width: 570px;
  height: 359px;
  position: relative;
  top: 0px;
  left: 350px;
}
.write {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fourthtop h2 {
  width: 360px;
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.3rem;
  margin: 0px;
  text-align: center;
  color: #272d4e;
}
.last {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}
.lastboximg {
  width: 68%;
  position: relative;
  top: -280px;
  left: 203px;
}
.lastbox h2 {
  left: 636px;
  top: 4428px;
  font-family: 'Varela Round', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  text-align: center;
  color: #272d4e;
}
.lastbox p {
  margin-left: 24rem;
width: 500px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 20px;
  text-align: center;
  align-items: center;
  color: #94a2b3;
}
.backdrop {
  height: 276px;
  position: relative;
  top: 72px;
  left: 78px;
}
.fourthimg5 {
  width: 127px;
  left: 468px;
  top: 255px;
  position: absolute;
}
.fourthimg6 {
  width: 96px;

  left: 251px;
  top: 50px;
  position: absolute;
}
.fourthimg7 {
  width: 60px;
  left: 65px;
  top: 190px;
  position: absolute;
}
.fourthimg8 {
  width: 75px;
  left: 165px;
  top: 435px;
  position: absolute;
}
.fourthimg9 {
  width: 309px;
  left: 306px;
  top: 367px;
  position: absolute;
}
.fourthimg1 {
  width: 305px;
  left: 660px;
  top: 187px;
  position: absolute;
}
.fourthimg2 {
  width: 95px;
  left: 895px;
  top: 30px;
  position: absolute;
}
.fourthimg3 {
  width: 150px;
  left: 999px;
  top: 195px;
  position: absolute;
}
.fourthimg4 {
  width: 65px;
  left: 950px;
  top: 480px;
  position: absolute;
}
.arrow1 {
  position: absolute;
  width: 21.73px;

  left: 745px;
  top: 498px;
}
.arrow2 {
  position: absolute;
  width: 30.73px;

  left: 784px;
  top: 496px;
}
.mediumcircle {
  position: absolute;
  width: 51.73px;

  left: 62px;
  top: 873px;
}
.smallcircle {
  position: absolute;
  width: 25px;

  left: 127px;
  top: 966px;
}
.dots1 {
  position: absolute;
  width: 175px;

  left: 60px;
  top: 1006px;
}

.dots {
  position: absolute;
  width: 25px;

  left: 1080px;
  top: 856px;
}
.circle {
  position: absolute;
  width: 350px;

  left: 845px;
  top: 932px;
}
@media only screen and (max-width: 600px) {
  .fourth{
    height: 927px;
  }
  .lastboximg {
    position: relative;
    left: 50px;
    top: -190px;
  }
 .lastbox h2{
       position: relative;
    top: 90px;
    left: 0;
  }
  .lastbox p {
    margin-left: 20px;
    width: 70%;
    font-size: 0.5rem;
    position: relative;
    top: 90px;
    left: 40px;
  }
  .backdrop{
    width: 400px;
  position: relative;
  left: -50px;
  top: 90px;
  }
  .dots {
  position: absolute;
  width: 25px;

  left: 0px;
  top: 1056px;
}
.circle {
  position: absolute;
  width: 120px;

  left: 170px;
  top: 1002px;
}
.fourthtop{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.testim{
  position: relative;
  left: 0;
  top: 180px;
  width: 100%;
  height: 100%;
}
// the images relatie

.fourthimg5 {
  width: 50px;
  left: 8px;
  top: 405px;
  position: absolute;
}
.fourthimg6 {
  width: 56px;

  left: 41px;
  top: 170px;
  position: absolute;
}
.fourthimg7 {
  width: 50px;
  left: 155px;
  top: 100px;
  position: absolute;
}
.fourthimg8 {
  width: 55px;
  left: 265px;
  top: 165px;
  position: absolute;
}
.fourthimg9 {
  width: 79px;
  left: 36px;
  top: 167px;
  position: absolute;
}
.fourthimg1 {
  width: 105px;
  left: 220px;
  top:477px;
  position: absolute;
}
.fourthimg2 {
  width: 75px;
  left: 25px;
  top:530px;
  position: absolute;
}
.fourthimg3 {
  width: 90px;
  left: 139px;
  top: 590px;
  position: absolute;
}
.fourthimg4 {
  width: 55px;
  left: 290px;
  top: 540px;
  position: absolute;
}
.arrow1 {
  position: absolute;
  width: 21px;

  left: 145px;
  top: 500px;
}
.arrow2 {
  position: absolute;
  width: 30px;

  left: 184px;
  top: 500px;
}
.mediumcircle {
  position: absolute;
  width: 21.73px;

  left: 12px;
  top: 853px;
}
.smallcircle {
  position: absolute;
  width: 10px;

  left: 27px;
  top: 886px;
}
.dots1 {
  position: absolute;
  width: 75px;

  left: 5px;
  top: 886px;
}
}
