.nav {
  display: flex;
  width: 95%;
position: relative;
top: 0;
  height: 10vh;
  margin: 20px 150px 0px 150px;
  font-family: Roboto;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-around;
}
.brand {
  margin: 16px;
  cursor: pointer;
}

.brand img {
  width: 120px;
  height: 34.08px;
}
.menu {
  list-style: none;
  display: flex;
  margin: 0;
}
.link {
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  font-family: Roboto;
}
.btn{
  background-color: #7854f7;
  border-radius: 5px;
  padding: 9px 12px;
  color: white;
  border: 2px solid #7854f7;
  margin: 0 30px;
}
.btn:hover {
  font-size: 100%;
  cursor: pointer;
  background-color: red;
}
.side {
  padding: 10px;
}
.side a {
  font-weight: 500;
  font-size: 16px;
}
.search {
  padding-top: 10px;
}
