.main {
  background-color: #7854f7;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Third {
  color: white;
  display: flex;

  border-top: 1px solid#9A7DFF;
}

.text {
  justify-content: space-evenly;
  margin: 50px;
}
.text ul{

  padding:0px;
}
.text li {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
    list-style: none;
color: white;
    padding-top: 10px;
}
.text a{
      text-decoration:none;
      color: white;
  
}
.second img {
  object-fit: cover;
  margin-bottom: 60px;
  width: 183.5px;
  height: 37px;
  top: 5389px;
  left: 815px;
}
.text h3 {
  font-weight: bold;
  font-size: 14px;
  font-family: 'Varela Round', sans-serif;
}
.first {
  display: flex;
}
.inner {
  margin-top: 65px;
  margin: 50px;
  display: flex;
  padding-bottom: 140px;
  color: #ffffff;
}
.inner img {
  width: 41px;
  object-fit: cover;
  height: 41px;
  margin-right: 20px;
}
.bottom {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 0px 30px;
}
.copy {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  margin-top: 35px;
  color: #272d4e;

  text-align: center;
}
.span {
  text-decoration: underline;
}
.span2 {
  text-decoration: underline;
}

.imgbottom {
  margin-top: 35px;
  width: 183px;
  height: 14px;
}
.social {
  display: flex;
}
.social img {
  margin: 30px;
  padding: 0;
}
.topfooter {
  background: #5f37ef;
  display: flex;
  justify-content: center;
  height: 201px;
  position: relative;
  top: 0px;
}
.topfooterp {
  
  font-weight: normal;
  font-size: 1.7rem;
   line-height: 35px;
  color: #ffffff;
   font-family: 'Varela Round', sans-serif;
 width: 700px;
  padding-top: 50px;

  margin-right: 0px;
 
}

.topbtn {
  background-color: #5f37ef;
  font-family: Roboto;
  margin-top: 78px;
  font-weight: bold;
  font-size: 12px;
  padding: 1rem 1.8rem;
  text-align: center;
  color: #ffffff;
  border-radius: 60px;
  border: 2px solid white;
}
@media only screen and (max-width: 600px){
  .main{
    width: 100vw;
  }
  .topfooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
     width: 100vw;
  }
  .topfooterp{
  align-items: center;
padding: 0px;
 width: 100%;
 text-align: center;
 font-size: 1.1rem;
  line-height: 35px;
  color: #ffffff;
  margin: 0px;
  }
  .topbtn{
    margin: 0px;
  }
  .first{
    flex-direction: row;
    flex-wrap: wrap;
      margin-top: 0px;
      padding-bottom: 100px;
  }
  .inner{
    padding-bottom: 0px;
  }
  .Third{
    display: flex;
    flex-wrap: wrap;
  }
  .bottom{
    display: flex;
    flex-wrap: wrap;
  }
}