.first {
  max-width: 100vw;
  display: flex;
  margin-top: 1rem;
 height: 650px;
}

.right {
  width: 47%;
  height: 909.14px;
}
.left {
  width: 50%;
  margin: 0px;
  padding: 12rem 0rem 0rem 8rem;
  margin-right: 0.2rem;
}

.left h4 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  font-weight: bold;
  font-size: 3rem;
}

.left a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  padding: 5px;
}
.left p {
  color: #94a2b3;
  justify-content: flex-end;
  height: 50px;
  font-family: Roboto;
  padding-top: 0;
  font-weight: normal;
  font-size: 0.8rem;
}
.left span {
  font-weight: normal;
  color: #94a2b3;
  padding: 3px;
  font-size: 0.8rem;
}
.btn {
  padding: 16px 50px;

  color: white;
  font-weight: 500;
  font-size: 0.7rem;
  background: #7854f7;
  border-radius: 60px;
  border: 2px solid #7854f7;
  margin-right: 10px;
}
.top {
  width: 100%;
  height: 600px;
  left: -1px;
  top: -700px;
  position: relative;

  max-block-size: 100%;
}
.back {
  width: 100%;
  left: -1px;
  position: relative;
  height: 800px;
  top: -30px;
  opacity: 0.6;
}
.relative {
  width: 90%;
  position:relative;
 height:698px;
  margin: auto;
 
    
}

.heads {
  margin: 0;
  font-family: Circular Std;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}

.left a {
   color: #299ef3;
     font-size: 0.8rem;
}
.writing {
  width: 270px;
  height: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  color: #94a2b3;
}
.bold {
  font-family: Circular Std;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-right: 0;
  text-align: center;
  height: 100px;
  justify-content: center;
  display: flex;
}
.content {
  padding-left: 30px;
}
.bold h2 {
  width: 400px;
}
.sec {
  display: flex;
}
.mainimg {
  width: 350px;
}
.topside {
  top: 70px;
  left: -25px;
  position: relative;
}
.pending {
  top: 289px;
  left: -115px;
  position: relative;
}
.box1 {
  position: relative;
  top: -160px;
  left: 70px;
  align-items: flex-start;
  width: 536px;
}

.box2 {
  position: relative;
  top: 130px;
  left: -20px;
  width: 431px;
  justify-content: left;
}
.box3 {
  position: relative;
  top: 180px;
  left: -40px;
  width: 495px;
  justify-content: left;
}
.topright {
  position: absolute;
  filter: drop-shadow(0px 18px 52.8537px rgba(215, 228, 249, 0.5));
  border-radius: 10px;
  left: 34px;
  top: -20px;
  width: 115px;

}
.img3 {
  position: absolute;
  filter: drop-shadow(0px 18px 52.8537px rgba(215, 228, 249, 0.5));
  border-radius: 10px;
  left: 204px;
  top: 20px;
  width: 115px;
}
.img2 {
  position: absolute;
  filter: drop-shadow(0px 18px 52.8537px rgba(215, 228, 249, 0.5));
  border-radius: 10px;
  left: 32px;
  top: 90px;
  width: 115px;
}
.img4 {
  position: absolute;
  filter: drop-shadow(0px 18px 52.8537px rgba(215, 228, 249, 0.5));
  border-radius: 10px;
  left: 164px;
  width: 120px;
  top: 91px;
}
.img5 {
  position: absolute;
  filter: drop-shadow(0px 18px 52.8537px rgba(215, 228, 249, 0.5));
  border-radius: 10px;
  left: 110px;
  width: 120px;
  top: 169px;
}
.leftimg {
  position: absolute;
  filter: drop-shadow(0px 18px 52.8537px rgba(215, 228, 249, 0.5));
  border-radius: 10px;
  left: 218px;
  top: 77px;
  width: 170px;
}
.outsideimg {
  position:absolute;
  filter: drop-shadow(0px 18px 52.8537px rgba(215, 228, 249, 0.5));
  border-radius: 10px;
  left: 198px;
  top: -66px;
  width: 114px;
}
.topimg{
   position:absolute;
  filter: drop-shadow(0px 18px 52.8537px rgba(215, 228, 249, 0.5));
  border-radius: 10px;
  left: 25px;
  top: -30px;
  width: 140px;
}
